body {
  padding-top: 70px;
  background-image: url('http://1.bp.blogspot.com/-Xe1eM5M22hY/UALlxGPbQmI/AAAAAAAACyA/08mbph4jY6E/s1600/Adidas_Logo_Colorful_Paints_HD_Wallpaper-Vvallpaper.Net.jpg');
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: black;
   font-size: 20px;
   padding-top: 0;
}
#tenis{
  width: 600px;
  height: 450px;
}
#video{
  padding: 80px;
}
#about{
  padding: 80px;
}
#productos{
  padding: 80px;
}
#inicio{
  text-align: center;
}
#contacto{
  text-align: center;
  padding-top: 80px;
}
#contacto ul li{
  list-style-type: none;
}
#about img{
  width: 600px;
  height: 400px;
}
  #seccion_social .fa{
    box-shadow: 0 0 30px white;
  }
  #seccion_social .fa{
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 10px;
  }
  #seccion_social .fa-facebook{
    padding: 10px 20px;
  }
  #seccion_social ul li a:hover{
    text-decoration: none;
    color: black;
  }
  #seccion_social ul li a{
    color: black;
  }

  #seccion_social  ul li a:hover i{
    background: #2D373D;
  }


  #seccion_social{
	position: fixed;
	left: 0px;
	top: 50%;
  }

	#seccion_social ul li a {
		list-style: none;
	}

	#seccion_social ul li a{
		display: inline-block;
		color:blue;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	}
  #seccion_social ul li a:hover {
  padding: 10px 30px;
}
#comentarios{
  padding-top: 100px;
}
